.section {
    padding: 20px;
  }
  
  .sectionTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .skillList li {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: left; /* Cambiar a texto alineado a la izquierda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .techIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }
  
  .techIcon {
    width: 60px;
    height: 60px;
  }
  
  .skillText {
    font-size: 1rem;
    color: #333;
    text-align: center; /* Alinear el texto al centro */
  }
  
  .skillList strong {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .skillList {
      flex-direction: column;
      align-items: center;
    }
  
    .skillList li {
      width: 100%;
    }
  }
  